@model IEnumerable<MealOrder_Project.Models.MealOrders>

@{
    ViewBag.Title = "OrdersDetail";
}

<h2>訂單明細</h2>
<hr>
<button id="createorder_btn" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#CreateOrderModal">我要訂餐</button>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">用餐日期</th>
            <th scope="col">用餐時段</th>
            <th scope="col">員工編號</th>
            <th scope="col">員工姓名</th>
            <th scope="col">餐點類別</th>
            <th scope="col">訂單狀態</th>
            <th scope="col">金額</th>
        </tr>        
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DiningDate</td>
                <td>@item.Type</td>
                <td>@item.Employee.Code</td>
                <td>@item.Employee.Name</td>
                <td>@item.MealCategory_Detail.Category</td>
                <td>@item.Status</td>
                <td>@item.Amount.ToString()</td>
            </tr>
            
        }       

    </tbody>
    
    @*<tr>
        @if (Model.Count().Equals(0))
        {
            <td>2022-09-12</td>
            <td>午餐</td>
            <td>110041201</td>
            <td>AustinWu</td>
            <td>素食</td>
            <td>未取餐</td>
            <td>40</td>
        }
        else
        {
            foreach (var item in Model)
            {
                <td>@item.DiningDate</td>
                <td>@item.Type</td>
                <td>@item.Employee.Code</td>
                <td>@item.Employee.Name</td>
                <td>@item.MealCategory_Detail.Category</td>
                <td>@item.Status</td>
                <td>@item.Amount.ToString()</td>
            }
        }
    </tr>*@

</table>

<!-- Modal -->
<div class="modal fade" id="CreateOrderModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="CreateOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateOrderModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="modalCreate_btn" type="button" class="btn btn-primary"></button>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", () => {

        const Create_modal = document.getElementById('CreateOrderModal');
        const Modalcreate_btn = document.getElementById('modalCreate_btn');     

        Create_modal.addEventListener('show.bs.modal', loadCreateOrderpage, false);        

        Modalcreate_btn.addEventListener('click', callbackFormdata, false);


    });

    function loadCreateOrderpage(event) {

        // 取得點擊到的按鈕
        const button = event.relatedTarget;
        const modal = $(this);

        // Update the modal's content.
        const loaddata = $.ajax({
            url: '/MealOrder/CreateOrders/',
            type: 'GET',
            success: function (res) {

                modal.find('.modal-body').html(res);
            }
        });

        modal.find('.modal-title').text(button.innerText);
        modal.find('#modalCreate_btn').text('新增');
    }

    function callbackFormdata() {

        // Convert From Data to JavaScroipt Object
        const Createorder_form = $('#form_CreateOrder').serializeArray();       
        let formDataObj = {};

        Createorder_form.forEach((value, key) => formDataObj[value.name] = (value.value).trim());        

        $.ajax({
            url: '/MealOrder/CreateOrders/',
            type: 'POST',
            data: { formdata: JSON.stringify(formDataObj) },
            success: function (res) {

                if (res.success == true) {

                    alert('新增成功');
                    location.reload();

                } else {
                    return alert(`res.responseText`);
                }
            }

        });        
    }

</script>